.description {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.753) 0%, rgba(255, 255, 255, 0) 60%);
}

.author {
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.descrip {
    margin: 10px 0;
    font-size: 15px;
}