.actions{
    position: absolute;
    bottom: 120px;
    right: 16px;
}

.actionButton{
    cursor: pointer;
    color: white;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    background-color: transparent;
    border: none;
}
