.App{
  background: #000;
  height: 100vh;
  display: grid;
  place-content: center;
  overflow: hidden;
}
main{ 
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  aspect-ratio: 9/16;
  max-width: 375px;
  width: 100vw; 
  height: auto;
  display: block;
  border-radius: 3px;
}
