.App{
  background: #000;
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 50px;
  grid-template-columns: 375px;
  
  place-content: center;
  overflow: hidden;
}
main{ 
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  max-width: 375px;
  height: 100%;
  display: block;
  border-radius: 3px;
}
